<app-navbar></app-navbar>

<div class="container-fluid text-center">
  <p class="h1">Condividere file non è mai stato così semplice!</p>
  <p class="h2">Carica e condividi file alla velocità della luce.</p>

  <div class="row mt-5">
    <div class="col-md-4 col-sm-12"></div>
    <div class="col-md-4 col-sm-12">
        <app-modal></app-modal>
    </div>
  </div>

  <button type="button" class="btn btn-primary btn-xl" (click)="addFiles()">Carica file &nbsp;<i class="fa fa-cloud-upload" aria-hidden="true"></i></button>

  <div *ngIf="!currentUser">
    <input type="file" #file style="display: none" (change)="onUploadAnon()" multiple />
  </div>
  <div *ngIf="currentUser">
    <input type="file" #file style="display: none" (change)="onUploadUser()" multiple />
  </div>
</div>
